@charset "UTF-8";
/*账目列表页面*/
/*reset*/
/*清除内外边距*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

/*重置box-sizing*/
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*重置字体*/
body {
  font-family: "微软雅黑";
  font-size: 16px;
  background: #fff;
  padding-bottom: 45px;
  -webkit-user-select: none;
  /*禁止选择文字*/
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*重置文本格式元素&去除元素被点击时产生的边框或灰色遮罩*/
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

    .body{
        padding-top: 15px;
    }
    .title{
    	height: 70px;
    	width: 100%;
        clear: both;
        border-top:1px solid #7ECEF4;
        border-bottom:1px solid #7ECEF4;
    }
    .title img{
    	width: 47px;
    	margin-left: 7.33%;
        margin-top: 11px;
        float: left;
    }
    .title-mid{
        float: left;
        height: 100%;
        width: 50%; 
        margin-left: 4.5%;
        line-height: 70px;
    }
    .title-mid span:nth-child(1){
        color: #35E47F;
        font-size: 30px;
       

    }
    .title span:nth-child(2){
    	color: #000;
        margin-left: 4.5%;
        font-size: 18px;
        font-weight: bold;
    }
    .title-rt{
        float: right;
        width: 70px;
        background-color: #FB6960;
        height: 100%;
        position: relative;
        
    }
    .in{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        line-height: 30px;

    }
    .choose {
       margin: 0 15px;
       height: 130px;
       clear: both;
       padding-top: 5px;
    }
    .choose p{
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        margin-left: 5%;
        margin-top: 5px;
    }
    .choose-img {
        width: 100%;
        text-align: center;
    }
    .choose-img li{
        width: 50px;
        height: 50px;
        margin-right: 5%;
        display: inline-block;
        text-align: center;
    }
    .choose-img li:nth-of-type(5) {
        margin-right: 0;
    }
    .choose-img li span {
        width: 50px;
        height: 50px;
        display: block;
        cursor: pointer;
        border-radius: 50%;
        color: #fff;
        font-family: 'icomoon';
        font-size: 28px;
        text-align: center;
        line-height: 50px;
    }
    .icon-food {
        background: #93dcb8;
    }
    .icon-dress {
        background: #fdc403;
    }
    .icon-transport {
        background: #6fb2de;
    }
    .icon-shopping {
        background: #F39F61;
    }
    .icon-income {
        background: #fe8988;
    }
    .icon-preview {
        background: #80c1fd;
    }
    .choose-img li font {
        font-size: 14px;
        color: #606060;
    }
    .project{
        width: 100%;
        position: relative;
        height: 50px;
        text-align: center;       
        border-bottom:1px solid #7ECEF4;
        margin-bottom: 10px;
    }
    .o{
        width: 100%;
         border-top:1px solid #7ECEF4;
    }
    .project span{
        position: absolute;
        left: 8%;
        top: 14px;
        font-size:18px; 
    }
    .project input{
        margin-top: 4px;
        width: 50%;
        height: 30px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #959595;
        text-align: center;
    }
    .but{
        margin: 0 5%;
        background-color: #80C1FD;
        border: none;
        border-radius: 12px;
        text-align: center;
        width:90%;
        height:40px;
        line-height: 40px;
        font-family: '微软雅黑';
        font-size: 18px;
        color: #fff;
        display: block;
    }

/*增加部分——预览模块*/
.preview{
    width:100%;
    height:68px;
    border-top: 1px solid #7ecef4;
    border-bottom: 1px solid #7ecef4;
}
.preview_img{
    width:50px;
    height:50px;
    float:left;
    margin:12px 0 22px 5%;
}
.preview_img span {
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    font-family: 'icomoon';
    font-size: 28px;
    text-align: center;
    line-height: 50px;
}

.preview_num{
    width:24.4%;
    height:50px;
    float:left;
    margin:10px 0 22px 4.93%;
    font-size:30px;
    color:#606060;
    line-height:50px;
}
.cost{ color:#ff364e;}
.earn{ color:#35e47f;}
.preview_num span{ 
    font-size:17px;
    line-height:50px;
    display: block;
}
.preview_msg{
    width:27%;
    float:left;
    margin:10px 0 0;
    font-size:18px;
    font-weight:500;
    color:#606060;
    line-height: 50px;
}

.preview_delete{
    width:65px;
    height:68px;
    float:right;
}
.preview_delete a{
    display:block;
    width: 65px;
    height: 68px;
    margin-top: -1px;
    background: #fb6960;
    color: #fff;
    font-family: 'icomoon';
    font-size: 28px;
    text-align: center;
    line-height: 68px;
}
.choose_img{
    border:2px solid #99a6ae;
}

/*字体图标部分*/
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?2xhi5q');
    src:url('fonts/icomoon.eot?2xhi5q#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2xhi5q') format('truetype'),
        url('fonts/icomoon.woff?2xhi5q') format('woff'),
        url('fonts/icomoon.svg?2xhi5q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
    content: "\e807";
}
.icon-shopping:before {
    content: "\e802";
}
.icon-food:before {
    content: "\e803";
}
.icon-delete:before {
    content: "\e804";
}
.icon-transport:before {
    content: "\e805";
}
.icon-dress:before {
    content: "\e806";
}
.icon-preview:before {
    content: "\e800";
}
.icon-cancel:before {
    content: "\e801";
}
.icon-next:before {
    content: "\e808";
}
.icon-income:before {
    content: "\e809";
}
